<div class="container mt-5">
    <div class="card shadow-lg" style="background-color: #f0f4f8; border-radius: 12px;">
      <div class="card-body">
        <h2 class="text-center text-primary mb-4">🔐 Check Your Password</h2>
  
        <!-- <div class="mb-3">
          <label for="passwordInput" class="form-label fw-bold">Enter your password:</label>
          <input
            id="passwordInput"
            type="password"
            class="form-control form-control-lg"
            [(ngModel)]="password"
            placeholder="e.g., Secur3P@ssword"
          />
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="togglePasswordVisibility()"
            >
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
            </button>
        </div> -->

        <div class="mb-3 position-relative">
            <label for="passwordInput" class="form-label fw-bold">Enter your password:</label>
            <div class="input-group">
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control form-control-lg"
                id="passwordInput"
                [(ngModel)]="password"
                placeholder="e.g., Secur3P@ssword"
              />
              <button
              class="btn btn-outline-secondary"
              type="button"
              (click)="togglePasswordVisibility()"
            >
              <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash-fill' : 'bi-eye-fill'"></i>
            </button>
            </div>
          </div>
          
  
        <div class="d-grid">
          <button class="btn btn-primary btn-lg" (click)="checkPassword()">Check</button>
        </div>
  
        <div *ngIf="result" class="mt-4">
          <div
            class="alert"
            [ngClass]="{
              'alert-success': result.isStrong && !result.isCompromised,
              'alert-warning': !result.isStrong && !result.isCompromised,
              'alert-danger': result.isCompromised
            }"
          >
            <p><strong>🔍 Password Strength:</strong> {{ result.strengthFeedback }}</p>
            <p><strong>🛡️ Breached Check:</strong> {{ result.compromisedFeedback }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  